[Desktop Entry]
Type=Application
Name=RetroDB
Comment=Retro Gaming ROM Library Manager
Exec=__EXEC__
Icon=__ICON__
Terminal=false
Categories=Game;
StartupNotify=true
